<h1>Inhalt der Nachricht:</h1>
<br/>
Name: <?php echo $name; ?><br/>
Email: <?php echo $email; ?><br/>
Telefon: <?php echo $telephone; ?><br/><br/>
Nachricht: <br/><?php echo $message; ?><br/>

<br/><br/><br/><br/>