body{
	background-color: #D3D3D3;
}

#header a{
	text-decoration: none;
}

#header .nav{
	background: rgba(250, 250, 250, 0.6);
	position: relative;
	list-style: none;
	height: 40px;
}

#header .nav li{
	float: left;
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

#header .nav .sub li{
	margin: 5px 0 -3px;	
}

#header .nav li.active a{
	background: rgba(250, 250, 250, 1);
}

#header .nav li .sub a{
	background: rgba(250, 250, 250, 0.6); 
}
#header .nav li .sub li.active a{
	background: rgba(250, 250, 250, 1); 
}

#header .nav li a{
	font-size: 12pt;
	color: black;	
	text-decoration: none;
	display: block;
	padding: 5px;
	margin: -5px;
	border: solid black 1px;
}

#header .nav li a:hover{
	border: solid 1px white;
}

#header .nav .sub{
	display: none;
	list-style: none;	
	margin-top: 5px;
	z-index: 99;
}

#header .nav li:hover .sub{
	position: absolute;
	width: 225px;
	display: block;
	border: 0px;
}

#header .nav li .sub li{
	display: block;
	border: 0;	
}

#header .nav li .sub li:hover{
	border: 1px solid black;
}


#content{
	position: relative;
	top: 20px;
	background: rgba(250, 250, 250, 0.8);
	margin: 0 32px;
	min-height: 100px;
}

.entry_box h1{
	font-size: 18pt;
	margin-bottom: 40px;
}

.entry_box{
	overflow: hidden;
	padding: 10px;
	min-width: 800px;
}

.entry_box .contentText{
	padding: 0 30px;
	float: left;
}

.entry_box .entry_wrapper{
	float: left;
	width: 100%;
}

.entry_box .slide_wrapper{
	-moz-transition:width 0.5s, height 0.5s, background-color 0.5s, margin 1.0s,-moz-transform 0.5s;
    -webkit-transition:width 0.5s, height 0.5s, background-color 0.5s, margin 1.0s, -webkit-transform 0.5s;
    -o-transition:width 0.5s, height 0.5s, background-color 0.5s, margin 1.0s,-o-transform 0.5s;
    transition:width 0.5s, height 0.5s, background-color 0.5s, margin 1.0s, transform 0.5s;
}

.arrow{
	position: absolute;
	top: 350px;
}

.arrow.right{
	right: 0px;
	opacity: 0.4;
}

.arrow.left{
	left: 0px;
	opacity: 0.4;
}

.contentPic{
	margin-left: 52%;
	width: 400px;
}

.img_popup{
	position: fixed;
	z-index: 999;
	top: 10%;
	left: 10%;
}

.overlay {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.8; display: block;
    z-index: 998;
}

.pic_vorschau{
	float: left;
	margin-left: 25px; 
	margin-bottom: 25px;
}

.pic_vorschau img{
	padding: 2px;
	border: 2px solid gray;
}

.vorschau_pic, .arrow, .show_big{
	cursor: pointer;
}

#entry_page{
	text-align: center;
	font-family: Lucida Sans Typewriter Regular Arial;
	font-size: 61pt;
	height: 300px;
}

#entry_page .second_entry{
	font-size: 202pt;
	line-height: 166px;
}





.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    overflow: hidden;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 420px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: 10px;
}

.jcarousel-control-next {
    right: 10px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.jcarousel li{
	margin: 9px; 
}


span.price_note{
	font-size: 20px;
	margin-top: 30px;
	display: block;
}


.impressum_3434243{
	color: black;
	font-size: 160%;
}

.contentText h5{
	font-size: 11px;	
}